# Original data
images_thermal_train/*
images_thermal_val/*
images_rgb_train/*
images_rgb_val/*
align/*

# The model
yolo*.pt
best*.pt

# images and label folders
images/*
labels/*
rgb_training/dataset/

# Run Files
runs/*

#Others
.DS_Store
__pycache__/

# Misc.
YOLOv8*
*.mp4
videoURL.txt

weights/
videos/
export/


# venv
.objdet/