# Original data
images_thermal_train/*
images_thermal_val/*

# The model
yolo*.pt
best*.pt

# images and label folders
images/*
labels/*

# Run Files
runs/*

#Others
.DS_Store
__pycache__/

# Misc.
YOLOv8*
*.mp4
videoURL.txt
